<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <targets>
    <target xsi:type="File" name="logfile" deleteOldFileOnStartup="true" fileName="n.log" />
    <target xsi:type="Debugger" name="debugger" layout="${time}|${level:uppercase=true}|${logger}|${message}" />
    <target xsi:type="ColoredConsole" name="console" layout="${time}|${level:uppercase=true}|${logger}|${message}" />
  </targets>
  
  <rules>
    <logger enabled="true" minlevel="Trace" writeTo="logfile" />
    <logger enabled="true" level="Debug" writeTo="debugger" />
    <logger enabled="true" minlevel="Warn" writeTo="console" />
  </rules>
</nlog>